{{define "border"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="https://static.geonet.org.nz/favicon.ico"/>

    {{subResource "/assets/css/bootstrap.v5.min.css"}}
    {{subResource "/assets/dependencies/@fortawesome/fontawesome-free/css/all.min.css" }}
    {{subResource "/assets/css/geonet.css"}}

    {{if .Chart}}
        {{subResource "/assets/dependencies/leaflet/leaflet.css"}}
        {{subResource "/assets/css/ldr-charts.css"}}
    {{end}}

    <title>{{.Title}}</title>
</head>
<body>

    {{.Header}}

<div class="container-xl">

    {{template "base" .}}

</div>
<div class="container">

        {{.Footer}}

</div>

    {{subResource "/assets/dependencies/bootstrap/bootstrap.bundle.min.js" .Nonce}}
    {{subResource "/assets/js/footer.js" .Nonce}}

    {{if .Chart}}
        {{subResource "/assets/dependencies/jquery/jquery.min.js" .Nonce}}
        {{subResource "/assets/dependencies/dygraphs/dygraph-combined.js" .Nonce}}
        {{subResource "/assets/dependencies/leaflet/leaflet.js" .Nonce}}
        {{subResource "/assets/js/leaflet-patch180.js" .Nonce}}
        {{subResource "/assets/js/ldr-map-charts.js" .Nonce}}
        {{subResource "/assets/js/charts.js" .Nonce}}
    {{end}}

</body>
</html>
{{end}}
