language: go
go:
- 1.13.1

services:
  - docker

addons:
  postgresql: '12'
  apt:
      packages:
         - postgresql-12-postgis-3

# trying to fix postgis bug which comes on the travis infrastructure that has sudo.
before_install:
 - export DEBIAN_FRONTEND=noninteractive;
 - sudo -E apt-get -yq update &>> ~/apt-get-update.log;
 - sudo apt-get install -y xsltproc
 - sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
 - sudo systemctl restart postgresql@12-main

install:
  - export GOFLAGS=-mod=vendor
  - docker --version
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - eval $(aws ecr get-login --no-include-email --region ap-southeast-2) #needs AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY envvars


before_script:
  - psql -U postgres -c "create extension postgis"
  - ./etc/scripts/initdb.sh
  - ./dapper/etc/scripts/initdb.sh
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.18.0

script: 
  - test -z "$(gofmt -s -l `find . -type f -name "*.go" -not -path '*/vendor/*'` | tee /dev/stderr)"
  - go vet ./...
  - ./all.sh
  - golangci-lint run -E gosec # default linters + gosec
  - ./build.sh fits-api dapper-api dapper-db-meta-ingest dapper-db-ingest dapper-db-archive

deploy:
   - provider: script
     skip_cleanup: true
     script: ./push.sh fits-api dapper-api dapper-db-meta-ingest dapper-db-ingest dapper-db-archive
     on: 
       branch: main

env:
    global:
         - PGPORT=5433
         - PGVERSION=12
         - secure: "RfKhktSoKtY/PZkzWu8ul4dayQ2IhFU2KL7TDdNptfAJlA1E0r+LQD3EStIph13eWI1MZsTYvXO3DXVGbp43VIQoVDBXmz3GxIU/6BT8p6Q3epX+fUn0Lod19PWwL2n/2mAYbE7LdVvzmEQr4YGs61TdpR8atQTP2WXCXn7beRw="
         - secure: "w9nrZfBdKV4pB7EqkowpF1Vp6YuphPKFrQ3ZYJPHWGWoDZQA3ID0Uk6zJaCxomtlVnj5TM1gjgRDwICYqkROPGquwwZ03Uj0IaMHeFljHPdo8H4VYjYWDpK5MlYo2P0fRFJGC9H3z9hc5qhqdS8yrHQgCzBT7paT/hhlINXY1UE="
