body {
    padding-top: 60px;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.panel-height {
    height: 150px;
    overflow-y: scroll;
}

.footer {
    margin-top: 20px;
    padding: 20px 0 20px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    text-align: center;
}

#logo {
    position: relative;
}

#logo li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#logo li a span {
    position: absolute;
    left: -10000px;
}

#gns li, #gns a {
    float: left;
    display: block;
    height: 90px;
    width: 54px;
}

#gns {
    left: -20px;
    height: 90px;
    width: 54px;
}

#gns {
    background: url('http://static.geonet.org.nz/geonet-2.0.2/images/logos.png') -0px -0px;
}

#eqc li, #eqc a {
    display: block;
    height: 61px;
    width: 132px;
}

#eqc {
    right: 0px;
    height: 79px;
    width: 132px;
}

#eqc {
    background: url('http://static.geonet.org.nz/geonet-2.0.2/images/logos.png') -0px -312px;
}

#ccby li, #ccby a {
    display: block;
    height: 15px;
    width: 80px;
}

#ccby {
    left: 15px;
    height: 15px;
    width: 80px;
}

#ccby {
    background: url('http://static.geonet.org.nz/geonet-2.0.2/images/logos.png') -0px -100px;
}

#geonet {
    background: url('http://static.geonet.org.nz/geonet-2.0.2/images/logos.png') 0px -249px;
    width: 137px;
    height: 53px;
    display: block;
}